{% extends 'base.html' %}
{% block content %}
<h1>Daftar Pengaduan</h1>

<table border="1" cellpadding="5">
  <tr>
    <th>Pelapor</th>
    <th>Isi Pengaduan</th>
    <th>Tanggal</th>
  </tr>
  {% for pengaduan in pengaduan_list %}
    <tr>
      <td>{{ pengaduan.pelapor.nama_lengkap }}</td>
      <td>{{ pengaduan.isi_pengaduan }}</td>
      <td>{{ pengaduan.tanggal }}</td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="3">Belum ada pengaduan yang terdaftar.</td>
    </tr>
  {% endfor %}
</table>

<br>
<a href="{% url 'pengaduan-tambah' %}">Tambah Pengaduan Baru</a>
<a href="{% url 'warga-list' %}">Kembali ke Daftar Warga</a>
{% endblock %}
