<!DOCTYPE html>
<html>
<head>
    <title>Daftar Warga Kelurahan</title>
</head>
<body>
    <h1>Daftar Warga</h1>

    <table border="1" cellpadding="5">
        <tr>
            <th>Nama Lengkap</th>
            <th>NIK</th>
            <th>Alamat</th>
        </tr>
        {% for warga in warga_list %}
        <tr>
            <td>
                <a href="{% url 'warga-detail' warga.pk %}">{{ warga.nama_lengkap }}</a>
            </td>
            <td>{{ warga.nik }}</td>
            <td>{{ warga.alamat|truncatechars:30 }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Belum ada data warga yang terdaftar.</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{% url 'warga-tambah' %}">Tambah Warga Baru</a>
    <a href="{% url 'pengaduan-tambah' %}">Buat Pengaduan Baru</a>
</body>
</html>
